{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {%- assign collection_image = collection.products.first.featured_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}


{% unless collection_image  == blank %}
    <a href="{% if collection.title == 'Sheds and Barns' %}https://magnumbuild.co.nz/{% elsif collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" 
    class="product-block" 
    {% if collection.title == 'Sheds and Barns' %}target="_blank"{% endif %}
    style="background-image: url({{ collection_image | img_url: '2000x' }}); background-position: center; background-size: cover;" 
    title="{{ product.title | escape }}" data-image-link></a>
{% else %}
  <a href="{% if collection.title == 'Sheds and Barns' %}https://magnumbuild.co.nz/{% elsif collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class=" supports-js product__image-wrapper" {% if collection.title == 'Sheds and Barns' %}target="_blank"{% endif %}>
    <img src="{{ collection_image | img_url: '1024x1024' }}" alt="{{ collection_image.alt | escape }}">
  </a>
{% endunless %}

<div class="product__title">
  <hr>
  <a href="{{ product.url | within: collection }}">{{ collection.title }}</a>
</div>