<footer class="site-footer container-fluid pt-1" role="contentinfo" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="bg-green py-2 px-sm-3 text-white row">
    <div class="col-md-6">
      <h3 class="mb-0"><a href="/contact" class="text-white">Contact Us</a></h3>
      <p class="mb-0">For a free quote on any of our products.</p>
    </div>
    <div class="col-md-6 d-md-flex align-items-md-center justify-content-md-end">
      <h3 class="mb-0">
        <a href="tel:+611800624686" target="_blank">1800 MAGNUM (624686)</a>
      </h3>
    </div>  
  </div>

  <div class="row py-3">
    <div class="col-md-6">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'menu' %}
              <div class="menu d-sm-flex mb-md-3 mb-2">
                {% for link in linklists[block.settings.menu].links %}
                  <p class="mb-0">
                    <a href="{{ link.url }}" class="px-sm-1">{{ link.title }}</a> 
                  </p>                  
                {% endfor %}
              </div>
        {% endcase %}
      {% endfor %}

      <p class="small text-grey mb-0 pl-sm-1">
        &copy; magnum<sup>&reg;</sup> equine Australia {{ 'now' | date: '%Y' }}. <br>
        <a href="/pages/terms-and-conditions">Terms of Use</a>
        <span class="px-1">| </span>
        <a href="/pages/privacy-statement">Privacy Statement</a>
      
      </p>
    </div>


    <div class="col-md-6 d-md-flex align-items-md-end justify-content-md-end text-md-right">
      {%- if section.settings.show_payment_icons -%}
        {%- unless shop.enabled_payment_types == empty -%}
          <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
          <ul class="list--inline payment-icons pl-md-0 pl-sm-1">
            {%- for type in shop.enabled_payment_types -%}
              <li>
                {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      {%- endif -%}
    </div>
  </div>
</footer>



{% schema %}
{
  "name": {
    "cs": "Zápatí",
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pl": "Stopka",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "tr": "Altbilgi",
    "vi": "Chân trang",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "max_blocks": 1,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "cs": "Zobrazit ikony plateb",
        "da": "Vis betalingsikoner",
        "de": "Zahlungs-Buttons anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fi": "Näytä maksukuvakkeet",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "ko": "결제 아이콘 표시",
        "nb": "Vis betalingsikoner",
        "nl": "Betalingspictogrammen weergeven",
        "pl": "Pokaż ikony płatności",
        "pt-BR": "Exibir ícones de pagamento",
        "pt-PT": "Mostrar ícones de pagamento",
        "sv": "Visa betalningsikoner",
        "th": "แสดงไอคอนการชำระเงิน",
        "tr": "Ödeme simgelerini göster",
        "vi": "Hiển thị biểu tượng thanh toán",
        "zh-CN": "显示付款图标",
        "zh-TW": "顯示付款圖示"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "cs": "Odkazy",
            "da": "Links",
            "de": "Links",
            "en": "Links",
            "es": "Enlaces",
            "fi": "Linkit",
            "fr": "Liens",
            "it": "Links",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Koblinger",
            "nl": "Links",
            "pl": "Linki",
            "pt-BR": "Links",
            "pt-PT": "Ligações",
            "sv": "Länkar",
            "th": "ลิงก์",
            "tr": "Bağlantılar",
            "vi": "Liên kết",
            "zh-CN": "链接",
            "zh-TW": "連結"
          }
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {
            "cs": "Nabídka",
            "da": "Menu",
            "de": "Menü",
            "en": "Menu",
            "es": "Menú",
            "fi": "Valikko",
            "fr": "Menu",
            "it": "Menu",
            "ja": "メニュー",
            "ko": "메뉴",
            "nb": "Meny",
            "nl": "Menu",
            "pl": "Menu",
            "pt-BR": "Menu",
            "pt-PT": "Menu",
            "sv": "Meny",
            "th": "เมนู",
            "tr": "Menü",
            "vi": "Menu",
            "zh-CN": "菜单",
            "zh-TW": "選單"
          },
          "info": {
            "cs": "V této nabídce se nezobrazí položky rozevíracího seznamu",
            "da": "Denne menu viser ikke rullemenupunkter",
            "de": "Dieses Menü zeigt keine Dropdowns an",
            "en": "This menu won't show dropdown items",
            "es": "Este menú no mostrará elementos desplegables",
            "fi": "Tämä valikko ei näytä pudotuskohteita",
            "fr": "Ce menu n'affichera pas les éléments des menus déroulants",
            "it": "Questo menu non mostrerà elementi a discesa",
            "ja": "このメニューにはドロップダウンアイテムは表示されません",
            "ko": "이 메뉴는 드롭 다운 항목을 표시하지 않습니다.",
            "nb": "Denne menyen vil ikke vise rullegardinelementer",
            "nl": "Dit menu laat geen vervolgkeuze-artikelen zien.",
            "pl": "W tym menu pozycje rozwijane nie będą wyświetlane",
            "pt-BR": "Este menu não mostra itens suspensos",
            "pt-PT": "Este menu não irá mostrar itens pendentes",
            "sv": "Den här menyn kommer inte att visa objekt i rullgardinsmenyn",
            "th": "เมนูนี้จะไม่แสดงรายการดรอปดาวน์",
            "tr": "Bu menü açılır öğeleri göstermez",
            "vi": "Menu này sẽ không hiển thị các mục thả xuống",
            "zh-CN": "此菜单不会显示下拉项",
            "zh-TW": "這個選單不會顯示下拉式項目"
          }
        }
      ]
    }
  ]
}
{% endschema %}