<div class="container-fluid px-sm-2 pt-xl-4 pt-lg-3 pt-5 pb-3" itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-cart-enable-ajax="{{ settings.cart_enable_ajax }}" data-enable-history-state="true">
  
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {% assign productTags = product.tags | join: ', ' %}


  {% comment %} product image  & description block {% endcomment %}


  <div class="row">


    {% comment %} product images {% endcomment %}


    <div class="col-xl-8 col-lg-12">
      {% if product.images.size > 1 %}
        {% render "product-slideshow" %}
      {% else %}
       {% for image in product.images %}
        {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
        {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        <div id="{{ wrapper_id }}" class="product-single__featured-image-wrapper" data-image-id="{{ image.id }}">
          <div class="prod-img product-single__photos" data-image-id="{{ image.id }}">
            <img id="{{ img_id }}" src="{{ image | img_url: '2000x' }}" alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}
      {% endif %}
    </div>


    {% comment %} product description {% endcomment %}


    <div class="col-xl-4 col-lg-12 pt-2 pr-xl-4 product-info-block">
      <div>
        <h5 itemprop="name" class="mb-1">{{ product.title }}</h5>

        {% comment %} if enquire only  {% endcomment %}

        {% if productTags contains 'Enquire Only' %}
          {% if section.settings.vendor_show %}
            <p class="product-single__vendor" itemprop="brand">{{ product.vendor }}</p>
          {% endif %}
          {{ product.description }}
          <a href="#enquire" id="enquire-btn" class="btn btn-primary mt-2">Enquire</a>
          {% render "product-custom-button" %}

        {% comment %} if porduct not enquire only {% endcomment %}

        {% else %}
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            {% comment %} prices {% endcomment %}
            <p class="product-single__prices">
              {% if product.compare_at_price_max > product.price %}
                <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
              {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {% endif %}
              <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>

              {% if product.compare_at_price_max > product.price %}
                <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <span class="product-single__price--compare" id="ComparePrice">
                  {{ current_variant.compare_at_price | money }}
                </span>
              {% endif %}

              {% include 'product-unit-price', variant: current_variant, available: true %}
            </p>


            {% comment %} tax and shipping policy {% endcomment %}

            {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product-single__policies rte">
                {%- if shop.taxes_included -%}
                  <p>{{ 'products.product.include_taxes' | t }}</p>
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            <hr>

            {% comment %} product variants {% endcomment %}

            {%- assign productClasses = 'product-form' -%}
            {%- if product.has_only_default_variant -%}
              {%- assign productClasses = productClasses | append: ' product-form--default-variant-only' -%}
            {%- endif -%}


            {% form 'product', product, class: productClasses %}
              <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              {% comment %} product quantity {% endcomment %}

              
              <div class="d-flex align-items-center">
                {% if section.settings.product_quantity_enable %}
                  <div class="product-single__quantity mr-1 mb-0">
                    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1">
                  </div>
                {% endif %}

                <div class="product-single__cart-submit-wrapper my-0{% if section.settings.enable_payment_button %} product-single__shopify-payment-btn{% endif %}{% if section.settings.add_to_cart_width == 'full_width' %} product-form--full{% endif %}">
                  <button type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} shopify-payment-btn btn--secondary{% endif %}" data-cart-url="{{ routes.cart_url }}">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                  </button>
                  {% if section.settings.enable_payment_button %}
                    {{ form | payment_button }}
                  {% endif %}
                </div>
              </div>
              <hr>
            {% endform %}
          </div>
          {{ product.description }}
          {% render "product-custom-button" %}
        {% endif %}
      </div>      
    </div>
  </div>

  {% render "product-videos" %}
  
  {% render "product-custom-attributes" %}

  {% if productTags contains 'Enquire Only' %}
    <div class="row py-4" id="#enquire">
      <div class="col-md-8 mx-auto contact-form form-vertical mb-md-0 mb-3">

        <h4 class="mb-3">Enquire about {{ product.title }}</h4>

        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p class="form--success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="row">
            <div class="col-12">
              <label for="ContactFormName">{{ 'contact.form.name' | t }} *</label>
              <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" autocapitalize="words"
                value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
            </div>

            <div class="col-md-6">
              <label for="ContactFormEmail">{{ 'contact.form.email' | t }} *</label>
              <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
            </div>

            <div class="col-md-6">
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }} *</label>
              <input type="tel" id="ContactFormPhone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*"
                value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" required>
            </div>

            <div class="col-12">
              <label for="ContactFormMessage">{{ 'contact.form.message' | t }} *</label>
              <textarea rows="3" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]"
                required>{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>

            <div class="col-12">
              <input type="hidden" id="ContactFormProductTitle" name="contact[ProductTitle]" value="{{ product.title }}">
              <input type="hidden" id="ContactFormProductSku" name="contact[ProductSku]" value="{{ current_variant.sku }}">
              <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  {% endif %}
</div>



<!-- /templates/product.liquid -->


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>



{% schema %}
{
  "name": {
    "cs": "Stránky produktů",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exiba um seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      }
    },
    {
      "type": "checkbox",
      "id": "vendor_show",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exiba o fornecedor do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Tlačítko Přidat do košíku",
        "da": "Knappen Læg i indkøbskurven",
        "de": "Schaltfläche In den Warenkorb",
        "en": "Add to cart button",
        "es": "Añadir al carrito",
        "fi": "Lisää ostoskoriin -painike",
        "fr": "Bouton d'ajout au panier",
        "it": "Pulsante \"Aggiungi al carrello\"",
        "ja": "カートボタンに追加する",
        "ko": "카트 버튼에 추가",
        "nb": "Legg i handlekurv-knapp",
        "nl": "Knop aan winkelwagen toevoegen",
        "pl": "Przycisk Dodaj do koszyka",
        "pt-BR": "Botão Adicionar ao carrinho",
        "pt-PT": "Botão Adicionar ao carrinho",
        "sv": "Lägg i varukorgen-knappen",
        "th": "ปุ่มเพิ่มลงในตะกร้าสินค้า",
        "tr": "Sepete ekle düğmesi",
        "vi": "Thêm vào nút giỏ hàng",
        "zh-CN": "“添加到购物车”按钮",
        "zh-TW": "加入購物車按鈕"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能なお好みの決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 기본 결제 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanızda sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": false
    }
  ]
}
{% endschema %}
