<!-- /templates/page.contact.liquid -->

<div class="container px-md-2 pt-lg-5 pt-6 pb-3">
    <div class="row mx-0">
      <div class="col-12 pb-3">
        <h2>Get in touch</h2>
      </div>
    </div>


    <div class="row pb-3 mx-0">
      {% comment %} contact form {% endcomment %}


      <div class="col-md-8 contact-form form-vertical mb-md-0 mb-3">
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p class="form--success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          <div class="row">
            <div class="col-12">
               <label for="ContactFormName">{{ 'contact.form.name' | t }} *</label>
              <input type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" autocapitalize="words" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required>
            </div>

            <div class="col-md-6">
              <label for="ContactFormEmail">{{ 'contact.form.email' | t }} *</label>
              <input type="email" id="ContactFormEmail" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required>
            </div>

            <div class="col-md-6">
              <label for="ContactFormPhone">{{ 'contact.form.phone' | t }} *</label>
              <input type="tel" id="ContactFormPhone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" required>
            </div>

            <div class="col-12">
              <label for="ContactFormCompany">{{ 'contact.form.company' | t }}</label>
              <input type="text" id="ContactFormCompany" name="contact[{{ 'contact.form.company' | t }}]" autocapitalize="words" value="{{ form.company }}">

               <label for="ContactFormDelivery">{{ 'contact.form.delivery' | t }}</label><br>
                <small>For Quote on Delivery of Feeding & Watering, and Stable Hardware products</small></label>
                <textarea rows="3" id="ContactFormDelivery" name="contact[{{ 'contact.form.delivery' | t }}]"></textarea>

                <label for="ContactFormMessage">{{ 'contact.form.message' | t }} *</label>
                <textarea rows="3" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" required>{% if form.body %}{{ form.body }}{% endif %}</textarea>

                <input type="submit" class="btn btn-primary" value="{{ 'contact.form.send' | t }}">
            </div>
          </div>
        {% endform %}
      </div>


      <div class="col-md-4 order-md-first">
        {{ page.content }}


        {% comment %} social icons {% endcomment %}


        <div class="d-flex align-items-center mt-2">
          {% if settings.social_facebook_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                {% include 'icon-facebook' %}
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </div>
          {% endif %}

          {% if settings.social_twitter_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                {% include 'icon-twitter' %}
                <span class="icon__fallback-text">Twitter</span>
              </a>
            </div>
          {% endif %}

          {% if settings.social_instagram_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                {% include 'icon-instagram' %}
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </div>
          {% endif %}

          {% if settings.social_snapchat_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                {% include 'icon-snapchat' %}
                <span class="icon__fallback-text">Snapchat</span>
              </a>
            </div>
          {% endif %}

          {% if settings.social_youtube_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                {% include 'icon-youtube' %}
                <span class="icon__fallback-text">YouTube</span>
              </a>
            </div>
          {% endif %}

          {% if settings.social_vimeo_link != blank %}
            <div class="mr-1">
              <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                {% include 'icon-vimeo' %}
                <span class="icon__fallback-text">Vimeo</span>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>  

